* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #FFFFFF;
  text-align: left;
}

.skills {
  text-align: left;
  padding: 3px;
  margin-bottom: 6px;
  color: white;
  background-color: #4CAF50;
}

.skillsdone {
  text-align: left;
  padding: 3px;
  margin-bottom: 6px;
  color: white;
  background-color: #333333;
}

.skillsinactive {
  text-align: left;
  padding: 3px;
  margin-bottom: 6px;
  color: white;
  background-color: #ffdb5c;
}


